<template>
  <div class="menu-app min-vh-100">
    <b-img src="../assets/logo.png" width="80%"></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about"> About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput">
        Form Input
        <b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./forminput1">
        Form Input 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./forminput2">
        Form Input 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./forminput3">
        Form Input 3</b-nav-item
      >

      <b-nav-item @click="showForm = !showForm">
        Form
        <b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="./form1">
        Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form2">
        Form 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form3">
        Form 3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./form4">
        Form 4</b-nav-item
      >

      <b-nav-item @click="showCrudExample = !showCrudExample">
        CRUD FORM
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./datatable1">
        DataTable 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productform1">
        ProductForm 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productTable">
        ProductTable</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.menu-app {
  background-color: gray;
  font-size: 10;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: goldenrod;
}
</style>
